{% extends "base.html" %}

{% block title %}Entry{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Entry</h1>
            <button class="btn btn-primary" {{t}}>Print Token</button>

        </div>
    </div>
</div>

{% endblock %}