{% extends "base.html"%}

{% block title%}Service{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Service</h1>
            <button class="btn btn-primary" onclick="start_service();">Start Service</button>
            <button class="btn btn-primary">End Service</button>
        </div>
    </div>
</div>

{% endblock%}
{% block script%}

{% endblock%}